---
import { parseTomlToJson } from "@/lib/utils/tomlUtils";
import NavMenuItem from "@/layouts/components/global/header/MenuItem.astro";
import type { NavigationLink } from "@/types";
import { filteredEnabled } from "@/lib/utils/filteredEnabled";
import CustomButton from "@/components/CustomButton.astro";
import menuConfig from "@/config/menu.json";

interface Props {
  isMobile?: boolean;
}

const config = parseTomlToJson();
let main = filteredEnabled(menuConfig.headerPrimary as NavigationLink[]);

const { isMobile } = Astro.props;
const { navigationButton } = config.settings;
---

<ul
  id="nav-menu"
  class:list={["navbar", isMobile && "navbar-mobile"]}
  role="menu">
  {main.map((menu) => <NavMenuItem isMobile={isMobile} menu={menu} />)}
  {/* Navigation Button For Small Devices */}
  {
    navigationButton.enable && (
      <li class="max-lg:pt-2 lg:hidden" role="menuitem">
        <CustomButton
          hoverEffect="creative-fill"
          class="bg-[#3B82F6] text-white hover:bg-[#2563eb]"
          label={navigationButton.label || "Gespräch buchen"}
          {...navigationButton}
        />
      </li>
    )
  }
</ul>
